
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entregas</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/service.js"></script>
    <script src="js/entregas.js"></script>

</head>
<body >
<div class="Entregas">

    <p>MAPA DOS CLIENTES e JOINS</p>
</div>
<div id="quadros"></div>
<h1> CLIENTES:</h1>
<div th:each="map : ${mapListClient}">
    <p th:text="'Id:'+${map.id}+'Nome:'+${map.name}+'  x:'+${map.x}+'  y:'+${map.y}+'  qtd:'+${map.qtd}"></p>
</div>
<h1> JOIN:</h1>
<div th:each="map : ${mapListJoin}">
    <p th:text="'Id:'+${map.id}+' Origem:'+${map.originIdClient}+'  Destino:'+${map.destinyIdClient}+'  Porcentagem:'+${map.ratio}"></p>
</div>
<script> var client = []; var join = []; </script>
<div th:each="map : ${mapListClient}">
<script th:inline="javascript">
client.push({ name:[[${map.name}]], x:[[${map.x}]], y:[[${map.y}]], qtd:[[${map.qtd}]]});
</script>
</div>
<div th:each="map : ${mapListJoin}">
    <script th:inline="javascript">
join.push({ origin:[[${map.originIdClient}]], destiny:[[${map.destinyIdClient}]], ratio:[[${map.ratio}]]});
</script>
</div>
    <script>
     gerarGraficoJson(client,join);
    </script>

</body>
</html>